# Report
The data set is "pertussis 51.12.csv" which containes

In [9]:
import pandas as pd
data_df = pd.read_csv('pertussis.51.12.csv')

In [15]:
data_df.head(0)

Empty DataFrame
Columns: [YEAR, MONTH, Alabama, Arizona, Arkansas, California, Colorado, Connecticut, Delaware, District.of.Columbia, Florida, Georgia, Idaho, Illinois, Indiana, Iowa, Kansas, Kentucky, Louisiana, Maine, Maryland, Massachusetts, Michigan, Minnesota, Mississippi, Missouri, Montana, Nebraska, Nevada, New.Hampshire, New.Jersey, New.Mexico, New.York, North.Carolina, North.Dakota, Ohio, Oklahoma, Oregon, Pennsylvania, Rhode.Island, South.Carolina, South.Dakota, Tennessee, Texas, Utah, Vermont, Virginia, Washington, West.Virginia, Wisconsin, Wyoming]
Index: []

[0 rows x 51 columns]