# Report
The data set is "pertussis 51.12.csv" which containes 49 states of USA data during 1951 January to 2012 December. (1 per month = 744 samples)

In [9]:
import pandas as pd
data_df = pd.read_csv('pertussis.51.12.csv')

In [17]:
data_df.tail(1)

,YEAR,MONTH,Alabama,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District.of.Columbia,...,South.Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West.Virginia,Wisconsin,Wyoming
743,2012,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
work more !!